{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="mb-2">
        <h1 class="text-center fs-5 mt-1">welcome to django task management system</h1>
    </div>
    <div class="fs-5 fe-5">
        <div class="ps-5 pe-5">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" value="submit" class="ps-4 pe-4 pt-1 pb-2 btn btn-indfo mt-3">submit</button>
            </form>
        </div>
    </div>
{% endblock %}