<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homePage' %}">Django</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'homePage' %}">Home</a>
                <a class="nav-link" href="{% url "addTaskPage" %}">add task</a>
                <a class="nav-link" href="{% url 'addCategory' %}">add category</a>
                <a class="nav-link" href="#">show task</a>
            </div>
        </div>
    </div>
</nav>
